<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--http://holdirbootstrap.de/los-gehts/-->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--http://holdirbootstrap.de/los-gehts/-->
    <title>"Yazzi"</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><!--http://holdirbootstrap.de/los-gehts/-->
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><!--http://holdirbootstrap.de/los-gehts/-->
    <script src="js/bootstrap.min.js"></script> <!--http://holdirbootstrap.de/los-gehts/-->

    <div class="panel panel-default">
        <div class="panel-heading">Punktetabelle</div>
        <div class="panel-body">
            <p>Teil 1</p>
            <table class="table">
                einer
                zweier
                dreier
                vierer
                fünfer
                sechser
            </table>
        </div>
        <div class="panel-footer">
            <p>Teil 2</p>

        </div>
    </div>

</body>
</html>