<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img class="bi" width="30" height="24" src="{{url_for('static', filename='logo.jpg')}}">
            </a></li>
            <li><a href="/" class="nav-link px-2 text-white">Neues Spiel</a></li>
            <li><a href="/yatzy" class="nav-link px-2 text-white">Aktuelles Spiel</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Ranking</a></li>
        </ul>
      </div>
    </div>
  </header>