<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--http://holdirbootstrap.de/los-gehts/-->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--http://holdirbootstrap.de/los-gehts/-->
    <title>"Yazzi"</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><!--http://holdirbootstrap.de/los-gehts/-->

</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><!--http://holdirbootstrap.de/los-gehts/-->
    <script src="js/bootstrap.min.js"></script> <!--http://holdirbootstrap.de/los-gehts/-->
    <h1>Seit ihr bereit für ein spanendes Yazzi?</h1>
    <h2>Tragt eure Vornamen in die Felder ein.</h2>
        <form method="post">
            <input type="text" name="vorname" placeholder="Spieler 1">
            <input type="text" name="vorname" placeholder="Spieler 2">
            <input type="text" name="vorname" placeholder="Spieler 3">
            <input type="text" name="vorname" placeholder="Spieler 4">
            <input type="text" name="vorname" placeholder="Spieler 5">
            <input type="text" name="vorname" placeholder="Spieler 6">
            <input type="text" name="vorname" placeholder="Spieler 7">
            <input type="text" name="vorname" placeholder="Spieler 8">
         <button type="submit">Spiel starten<a href=" index.html"/></button>
        </form>


</body>
</html>