<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% include "navbar.html" %}
<body>
<div class="container mt-3">
    <div class="row justify-content-between justify-content-center">
      <div class="col-12">
      <h3>Spielplan</h3>
      <table class="table table-bordered">
        <thead>
        {%for spalte in spieler%}
          <tr>
            <th>{{spalte[0]}}</th>
            <th>{{spalte[1]}}</th>
            <th>{{spalte[2]}}</th>
            <!--<th>Spieler3</th>
            <th>Spieler4</th>
            <th>Spieler5</th>
            <th>Spieler6</th>
            <th>Spieler7</th>
            <th>Spieler8</th>-->
          </tr>
        {%endfor%}
        </thead>
        <tbody>
          {%for spalte in ergebnise%}
          <tr>
            <td>{{spalte[0]}}</td>
            <td><form method="post"><input type="text" name="pSp1[]" placeholder=" " value="{{spalte[1]}}"> </form></td>
            <td><form method="post"><input type="text" name="pSp2[]" placeholder=" " value="{{spalte[2]}}"> </form></td>
            <!--<td><form method="post"><input type="text" placeholder=" " value="{{spalte[3]}}"> </form></td>
            <td><form method="post"><input type="text" placeholder=" " value="{{spalte[4]}}"> </form></td>
            <td><form method="post"><input type="text" placeholder=" " value="{{spalte[5]}}"> </form></td>
            <td><form method="post"><input type="text" placeholder=" " value="{{spalte[6]}}"> </form></td>
            <td><form method="post"><input type="text" placeholder=" " value="{{spalte[7]}}"> </form></td>
            <td><form method="post"><input type="text" placeholder=" " value="{{spalte[8]}}"> </form></td>-->
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    </div>
</div>

{% include "footer.html" %}
</body>
</html>
@app.route('/test2')
def test2():
    players = []
    namecsv = os.path.join(my_datadir, "Name.csv")
    with open(namecsv, "r") as f:
        reader = csv.reader(f)
        for row in reader:
            row = str(row).replace('\\', '') #deleting backslash
            players = row.split(";", 9)
    player_count = str(len(players) -1)
    zeit = time.strftime('%Y-%m-%d-%Hh%M', time.localtime())
    filename = (zeit + "-Sp-" + player_count + ".csv")
    destinationfile = os.path.join(my_datadir, filename)
    sourcefile = ("templates/spielplan/" + player_count + "-Spieler.csv")
    shutil.copy(namecsv, destinationfile, follow_symlinks=True)
    players = []
    rows = []
    with open(namecsv)as f:
        csvreader = csv.reader(f, delimiter=";")
        for player in csvreader:
            players.append(player)
    with open(destinationfile, "a+", encoding='utf-8-sig') as f:
        with open(sourcefile,"r", encoding='utf-8-sig') as f1:
            f.write(f1.read())
    with open(destinationfile) as f:
        csvreader = csv.reader(f, delimiter=";")
        header = next(csvreader)
        for row in csvreader:
            rows.append(row)
    if request.method == "POST":
        punkteSp1 = request.form.get("pSp1[]")
        if punkteSp1 != "":
            with open(destinationfile, "w",) as f:
                csvreader = csv.reader(f, delimiter=";")
                header = next(csvreader)
                rows = list(csvreader)
                row = rows[1]
                row.append(punkteSp1)
            print(row)
        punkteSp2 = request.form.get("pSp2")
        if punkteSp2 != "":
            with open(destinationfile, "r", ) as f:
                csvreader = csv.reader(f, delimiter=";")
                header = next(csvreader)
                rows = list(csvreader)
                row = rows[2]
                row.append(punkteSp2)
        return render_template("test2.html", ergebnise=rows, titel=header, spieler=players)
    else:
        with open(destinationfile) as f:
            csvreader = csv.reader(f, delimiter=";")
            header = next(csvreader)
            rows = list(csvreader)
            print(rows)
        return render_template("test2.html", ergebnise=rows, titel=header, spieler=players)

        original_stdout = sys.stdout
        with open(destinationfile, 'w') as f6:
            sys.stdout = f6
            print(*points1, sep=';')
            sys.stdout = original_stdout